* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    text-align: center;
    position: relative;
    background-color: rgb(31, 30, 30);
    height: 100vh;
    width: 100%;
    color: white;
}

.profile img {
    margin-top: 30px;
    max-width: 440px;
    height: 440px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info h2 {
    color: gray;
    font-size: 15px;
    margin-bottom: 20px;
}

.info p {
    margin: 20px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.btn > button {
    width: 15%;
    padding: 7px;
    border-radius: 5px;
}

.btn-1 {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-1:hover {
    transition: 0.5s;
    background-color: rgb(155, 64, 64);
    color: white;
}

.btn-2 {
    background-color: black;
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-2:hover {
    transition: 0.5s;
    background-color: white;
    color: black
}

.about {
    padding-top: 40px;
    padding-bottom: 20px;
}

.interests {
    padding-bottom: 30px;
}

.icon {
    position: fixed;
    width: 100%;
    background-color: rgb(37, 36, 36);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 0;
    cursor: pointer;
}