* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: red;
    color: white
}

.fa-globe{
    font-size: 36px;
}

h2 {
    padding-top: 2px;
}